*{
  box-sizing: border-box;

}

html{
  background:lightblue;
  opacity:.7;
}

.header{
  width:100%;
  margin-top:50px;
  color:navy;
  text-align: center;

}

.text1{
  color:yellow;
}

.textbox{
  background: beige;
  animation: divlayani 2s infinite ease-in-out;
}

.submitbutton{
  margin-top:20px;
  color:white;
  background:black;
}

.submitbutton2{
  width:100px;
  height:40px;
  background:linear-gradient(yellow,red);
  color:gray;
  font-weight: bolder;
  text-align:center;
  align-items: center;
  animation: divlayani 2s infinite ease-in-out;

}

.newdiv100{
  width:100%;
  text-align:center;
  margin-top:50px;
}

.madgenerator{
  display:flex;
  flex-wrap: wrap;

}

.divlayouts{
  height:500px;
  text-align: center;

  justify-content: center;
  width:50%;
}

.divlayouts2{
  width:50%;
  height:500px;
  background:gray;
  animation:divlayani 2s infinite ease-in-out;
}

@keyframes divlayani {
  50%{transform: scale(1.1)}
  100%{transform: scale(1)}
}

.madlib{
  padding:1%;
  margin:5%;
  text-align: justify;
  font-size:1rem;
}

.underline{

}

.madlib span{
  text-decoration: underline;
  font-style: italic;
  color:gold;
}
